*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.hymns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 3% 10%; */
}
.hymns .headings .type{
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    text-align: center;
   
}
.hymns .headings .desc{
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.26px;
    text-align: center;
    margin-bottom: 0.8rem;
}
.hymns .headings .title{
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    color: #A30505;
    text-align: center;
    margin-bottom: 1rem;
}
.hymns .stanzas{
    width: 50%;
    margin: auto;
}
.hymns .stanzas .stanza{
    width: 100%;
    padding: 3rem;
    height: fit-content;
    background-color: #D9D9D9;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.26px;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 7px 0px #00000080;

}

.hymns .comment{
    width: 50%;
    border-radius: 20px;
    border: 3px solid #A30505;
    padding: 1rem;
}
.hymns .comment .head div{
    background-color: #3D0202;
    height: 65px;
    width: 65px;
    border-radius: 50%;
}
.hymns .comment .head{
    display: flex;
}
.hymns .comment .head input{
    height: 65px;
     border-radius: 20px;
     width: 100%;
     padding-left: 20px;
     display: flex;
     align-items: center;
}
.hymns .comment .head input::placeholder{
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    

}
